<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Argentina Programa. #YoProgramo. Proyecto Integrador: Portfolio Web Full Stack</h3>
                <p>Desarrollar una aplicación web full stack de arquitectura distribuida que contenga un diseño de interface (front end) que muestre la información, una base de datos que almacene los datos personales (estudios cursados, experiencia laboral, conocimiento de las tecnologías entre otros) y que posea las APIs necesarias para proveer a través de internet la información (back end).</p>
                

                <h3>Curso Python</h3>
                <p>Curso de primeros pasos en Python en ARROW ACADEMY</p>
                
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/Python.jpg" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
